body {
  background-color: rgb(255, 255, 255);

  /* Smoothly transition the background color */
  transition: background-color .5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

article {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.banner {
  font-size: 2.5rem;
  font-family: 'Lobster', sans-serif;
  color: #24154a;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.footer {
  font-size: 2.5rem;
  font-family: 'Lobster', sans-serif;
  color: #24154a;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.harbors-main {
  width: 100%;
}

.section-title {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.jimmy-image {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.music-row {
  display: flex;
  flex: 1;
}

.stream-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}

.album {
  width: 100%;
  flex: 1 1 0;
}

.stream-icon {
  width: 50px;
  padding-left: 2rem;
}

.apple-icon {
  width: 50px;
}

.player {
  height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.track-art {
  margin: 10px;
  height: 225px;
  width: 225px;
  background-image: url("img/harbors.jpg");
  background-size: cover;
  border-radius: 10%;
}

.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpause-track, .prev-track, .next-track {
  padding: 25px;
  opacity: 0.8;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 1.0;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time, .total-duration {
  padding: 10px;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 10px;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  body {
    width: 1000px;
    margin: auto;
  }

  .track-art {
    height: 350px;
    width: 350px;
  }
}
